eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    metadata-map:
      grpc.port: ${grpc.server.port}
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 955769238936-3jonguuig6v43v18rcu91tqt28l9lmc5.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "http://localhost:8088/auth-service/login/oauth2/code/google"
            scope:
              - email
              - profile
              - openid
          github:
            client-id: Ov23liqD3aEDDIvbxyTL
            client-secret: d82798e05641d543edf4b2a294f306e6b390d40e
            redirect-uri: "http://localhost:8088/auth-service/login/oauth2/code/github"
            scope:
              - read:user
              - user:email
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: id
