spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/auth-service/**
              filters:
                - StripPrefix=1
            - id: project-service
              uri: lb://project-service
              predicates:
                - Path=/project-service/**
              filters:
                - StripPrefix=1
          default-filters:
            - AuthenticationPreFilter
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

server:
  port: 8088
  address: 0.0.0.0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true